.App {
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 150% 150%;
  animation: gradient 15s ease infinite;
 
}
.start {
  color: purple;
}
.timer,
.words {
  font-size: medium;
  position: relative;
}



.para:hover{

cursor: pointer;
  border:groove ;
  background-color: #e704c0;
  text-align: center;
  box-sizing: 200px;
   
 
  



} 

.btn,.menuBtn {
  background-color: #e704c0;
  border: none;
  color: #b5163d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  margin: 50px;
}
